.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.pacienteContainer {
  width: 60%;
  padding-right: 30px;
}

.text-danger {
  color: red;
}
